@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --color-primary: #9D4815;
    --color-ghost: #101820;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF7F00; 
        --color-ghost: #E0E0E0;
    }
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-ghost {
    background-color: var(--color-ghost);
}